html {
  font-size: 62.5%;
}


body {
  font-family: "Segoe UI", "Roboto", "Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1.6rem;
}

code {
  font-family: Monaco, Consolas, "Courier New", monospace;
}

